header{
    background-color: rgb(238, 243, 243);
    /* position: fixed; */
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
}
.Restaurant{
    /* border: 1px solid black; */
    padding: 5px;
    /* position: fixed; */
    margin-left: 10px;
}
main{
    margin-top: 55px;
    background-image: url(https://source.unsplash.com/random/1920x1080/?food);
    background-blend-mode: multiply;
    background-color: rgba(55, 44, 44, 0.8);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    font-weight: 900;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: rgb(131, 131, 154);
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
    /* margin: 5px; */
}
.menu-list{
    /* width: 90%; */
    display: flex;
    gap: 20px;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    
}
.list-item{
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    left: -50px;
    background-color: white;
    border-radius: 20px;
    box-shadow:3px 3px 10px 2px grey;
}

li > img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    padding: 5px;
}
li > img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.item-name{
    font-weight: 800;
    font-size: 18px;
    padding: 5px;
    text-align: center;
}
.item-price{
    font-weight: 900;
    background-color: rgb(131, 131, 154);
    /* width: 70px; */
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    padding: 5px;
    color: white;
    margin-left: 5px;
}
.section-1, .section-2, .section-3{
    /* margin-left: 10px; */
    margin: 20px;
}
.section-2 > p{
   padding: 10px;
   font-size: 22px;
   text-align: center;
   font-weight: 800;
   color: red;
   
}

.section-3 > button{
    padding: 5px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    left: 43%
}
.section-3 > button:hover{
    transform: scale(1.1);
}